.env
uv.lock

# Python build artifacts
__pycache__/
*.pyc
*.pyo

# Test & coverage artifacts
.coverage
.pytest_cache/
htmlcov/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Project documentation
docs/progress/
docs/project-proposal.pdf
